#tx-backend ol.sub-fora,
#tx-backend ol.sub-fora ol{
  list-style:none;
  padding:5px 5px 0px 5px;
}

#tx-backend ol.sub-fora .forum{
  padding:5px;
  margin:5px 0px;
  line-height:2.5em;
  border:1px solid #bfbfbf;
  
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  
  background:#cfd1cf;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#cfd1cf));
  background-image:-moz-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:-webkit-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:-o-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:-ms-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:linear-gradient(top,#ebebeb,#cfd1cf);
  filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ffebebeb',endColorstr='#cfd1cf')
  
}

  #tx-backend ol.sub-fora .meta,
  #tx-backend ol.sub-fora .extra,
  #tx-backend ol.sub-fora .operations{
    display:inline-block;
  }
  
  #tx-backend ol.sub-fora .extra,
  #tx-backend ol.sub-fora .operations{
    float:right;
  }
  
  #tx-backend ol.sub-fora .meta span{
    vertical-align:bottom;
  }
  
  #tx-backend ol.sub-fora .forum .meta .title{
    padding:0px 5px;
  }
  
  #tx-backend ol.sub-fora .forum .meta .title,
  #tx-backend ol.sub-fora .forum .operations{
    font-size:2em;
  }
  
  #tx-backend ol.sub-fora .extra{
    padding-right:20px;
    text-align:right;
    line-height:normal;
  }
    
    #tx-backend ol.sub-fora .forum .extra .last_post{
      padding-right:20px;
    }
  
  #tx-backend ol.sub-fora .forum .operations a{
    opacity:0.5;
  }
    #tx-backend ol.sub-fora .forum .operations a:hover{
      text-decoration:none;
      opacity:1;
    }






/*
---------------------------------------------------------------
#TODO: This is example styling. Move to example CSS file later.
---------------------------------------------------------------
*/

#edit-profile-form,
.user-profile-edit{
  width:40%;
  float:left;
  margin:0 5%;
}
#edit-profile-form .validation-error,
.user-profile-edit .validation-error{
  font-style:italic;
  color:#f55;
}

#edit-profile-form .ctrlHolder,
.user-profile-edit .ctrlHolder,
#edit-profile-form .buttonHolder,
.user-profile-edit .buttonHolder {
  clear:both;
  margin:0;
  padding:5px 0;
}

#edit-profile-form label,
.user-profile-edit label,
#edit-profile-form .label,
.user-profile-edit .label {
  display:block;
}

#edit-profile-form label,
.user-profile-edit label,
#edit-profile-form button,
.user-profile-edit button {
  cursor:pointer;
}

.account-registration .form .buttonHolder {
  padding:0.5em 1em;
  text-align:right;
}

.plupload-container .header{
  text-align:center;
}
.plupload-container .drop{
  border:1px solid #999;
  background:#eee;
}
.plupload-container .drop .drag-here{
  padding:80px 0px;
  color:#aaa;
  text-align:center;
  font-size:16px;
  line-height:21px;
}
.plupload-container .buttonHolder{
  text-align:right;
}
.plupload-container .buttonHolder button{
  margin:5px 0px 5px 5px;
}
.plupload-container .filelist{
  position:absolute;
  top:1px;
  left:1px;
  right:1px;
  height:181px;
  overflow:auto;
}
.plupload-container .filelist i{
  font-size:75%;
  color:#777;
}
.plupload-container .filelist div{
  padding:2px 5px;
  background:#ccc;
  color:#333;
  border-bottom:1px solid #999;
}
.plupload-container .filelist .error{
  background:#e77;
  color:#fff;
}

/* Image upload field has a very minimal view */
.image-upload-field{
  position:relative;
  height:240px;
  margin-bottom:10px;
}
  .image-upload-field .preview-image{
    display:block;
    width:auto;
    min-width:auto;
    max-width:none;
    height:181px;
  }
  .image-upload-field .preview-image-background{
    height:181px;
    overflow:hidden;
  }
  .image-upload-field .plupload-container{
    position:absolute;
    top:25px;
    width:100%;
  }
  .image-upload-field .drop{
    position:relative;
    border:none;
    background:none;
    z-index:10;
    height:181px;
  }
  .image-upload-field .drag-here,
  .image-upload-field .header{
    display:none;
  }

/***
** FORUM STYLE
***/
.nolist{
  list-style:none;
  margin:0;
  padding:0;
}

.tx-forum-meta .breadcrumb{
  padding:0px 20px;
  margin:0;
  list-style:none;
}
  .tx-forum-meta .breadcrumb li{
    display:inline;
  }
  .tx-forum-meta .breadcrumb a,
  .tx-forum-meta .breadcrumb .divider{
    opacity:0.4;
  }
    .tx-forum-meta .breadcrumb a:hover{
      opacity:1;
    }

.tx-forum-meta .user-information{
  float:right;
  font-size:80%;
}

.tx-forum{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

/* Forum overview */
.tx-forum table.table-bordered{
  width:100%;
  margin:10px 0;
}
.tx-forum .table-bordered tr{
  background:rgba(255,255,255,0.4);
}
.tx-forum .table-bordered thead tr{
  background:rgba(0,0,0,0.03);
}
  .tx-forum .table-bordered tbody tr:hover{
    background:rgba(255,255,255,0.7);
  }

.tx-forum .table-bordered th{
  padding:0.2em 0.5em;
}
.tx-forum .table-bordered td{
  padding:0.5em;
}
  .tx-forum .table-bordered .forum-title{
    width:60%;
  }
  .tx-forum .table-bordered .forum-topics,
  .tx-forum .table-bordered .forum-posts,
  .tx-forum .table-bordered .forum-lastpost,
  .tx-forum .table-bordered .forum-replies{
    text-align:right;
  }

/* Forum pagination */
.tx-forum .pagination{
  float:right;
  clear:both;
  margin-left:10px
}
  .tx-forum .pagination ul{
    list-style:none;
    margin:0;
  }
  .tx-forum .pagination li{
    display:inline;
  }
    .tx-forum .pagination li a{
      padding:0px 4px;
    }
    .tx-forum .pagination .disabled a{
      opacity:0.4;
      cursor:default;
      text-decoration:none;
    }

.tx-forum #footer-pagination{
  display:block;
  text-align:right;
  margin-bottom:10px;
}
  .tx-forum #footer-pagination .pagination{
    float:none;
  }

/* Author styling */
.forum-topic-author,
.forum-reply-author{
  font-weight:600;
  font-size:1.2em;
}

/* Topic starter box */
.topic-starter-topic{
  
}
.topic-starter-header{
  margin-bottom:5px;
  vertical-align:bottom;
}
  .topic-starter-topic .pagination{
    text-align:right;
  }
  .topic-starter-topic .topic-starter-title{
    font-size:2em;
    padding:0.8em 0;
  }
  .topic-starter-topic .pagination,
  .topic-starter-topic .topic-starter-title{
    margin:0;
  }
.topic-starter-wrapper{
  line-height:1.5em;
  padding:15px;
  border-radius:5px;
  background:rgba(0,0,0,0.09);
  margin-bottom:10px;
}
.topic-starter-wrapper header{
  line-height:19px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.topic-starter-topic .topic-starter-content{
  padding:15px 0;
}
  .topic-starter-topic .signature{     
    border-top:1px solid rgba(0,0,0,0.1);
  }
    .topic-starter-topic .signature .inner{
      padding:5px 0;
    }
.topic-starter-topic .forum-meta-footer{
  color:#fff;
}

/* Reply box */
.forum-topic-replies h1{
  display:none;
}
  .forum-topic-reply{
    position:relative;
    line-height:1.5em;
    margin-bottom:10px;
    border-radius:5px;
    padding:15px;
    background:rgba(180,180,180,0.09);
  }
    .forum-topic-reply .forum-topic-reply-operations{
      position:absolute;
      top:5px;
      right:10px;
    }
    
    .topic-starter-topic .forum-topic-reply{
      background:rgba(60,60,60,0.09);
    }
    .forum-topic-reply header{
      border-bottom:1px solid rgba(0,0,0,0.1);
    }
      .forum-reply-content{
        padding:15px 0;
      }
        .forum-topic-reply .signature{   
          border-top:1px solid rgba(0,0,0,0.1);
        }
          .forum-topic-reply .signature .inner{
            padding:5px 0;
          }
          .forum-topic-reply .signature .inner p{
            margin:0;
          }

/* Reply Form */
.forum-topic-reply-form{
    line-height:1.5em;
    margin-bottom:10px;
    border-radius:5px;
    padding:15px;
    background:rgba(60,60,60,0.09);
  }
  .forum-topic-reply-form fieldset,
  .forum-topic-reply-form legend{
    border:none;
  }
  .forum-topic-reply-form legend{
    display:none;
  }
  .forum-topic-reply-form textarea{
    height:auto;
  }
  .forum-topic-reply-form .button-set{
    padding-top:10px;
    margin:0;
  }

#textarea-new-post{
  display:none;
}

/* New topic form */
.forum-topic-form .title-field{
  font-size:110%;
  padding:0.3em;
  margin:0.5em 0;
  width:98%;
}
.forum-topic-form .button-set{
  padding-top:10px;
  margin:0;
}