#tx-backend ol.sub-fora,
#tx-backend ol.sub-fora ol{
  list-style:none;
  padding:5px 5px 0px 5px;
}

#tx-backend ol.sub-fora .forum{
  padding:5px;
  margin:5px 0px;
  line-height:2.5em;
  border:1px solid #bfbfbf;
  
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  
  background:#cfd1cf;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#cfd1cf));
  background-image:-moz-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:-webkit-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:-o-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:-ms-linear-gradient(top,#ebebeb,#cfd1cf);
  background-image:linear-gradient(top,#ebebeb,#cfd1cf);
  filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ffebebeb',endColorstr='#cfd1cf')
  
}

  #tx-backend ol.sub-fora .meta,
  #tx-backend ol.sub-fora .extra,
  #tx-backend ol.sub-fora .operations{
    display:inline-block;
  }
  
  #tx-backend ol.sub-fora .extra,
  #tx-backend ol.sub-fora .operations{
    float:right;
  }
  
  #tx-backend ol.sub-fora .meta span{
    vertical-align:bottom;
  }
  
  #tx-backend ol.sub-fora .forum .meta .title{
    padding:0px 5px;
  }
  
  #tx-backend ol.sub-fora .forum .meta .title,
  #tx-backend ol.sub-fora .forum .operations{
    font-size:2em;
  }
  
  #tx-backend ol.sub-fora .extra{
    padding-right:20px;
    text-align:right;
    line-height:normal;
  }
    
    #tx-backend ol.sub-fora .forum .extra .last_post{
      padding-right:20px;
    }
  
  #tx-backend ol.sub-fora .forum .operations a{
    opacity:0.5;
  }
    #tx-backend ol.sub-fora .forum .operations a:hover{
      text-decoration:none;
      opacity:1;
    }